<body style="display: flex;">
    <div style="margin: auto;">
        <img *ngIf="isTwitterSelected" src="./assets/images/twitter-logo.png" (click)="isTwitterSelected = false;">
        <img *ngIf="!isTwitterSelected" class="gray-image" src="./assets/images/twitter-logo.png" (click)="isTwitterSelected = true;">
        <!-- <img *ngIf="isPinterstSelected" src="./assets/images/pinterest-logo.png" (click)="isPinterstSelected = false;"> -->
        <img class="gray-image" src="./assets/images/pinterest-logo.png" (click)="isPinterstSelected = true;">
        <!-- <img *ngIf="isFacebookSelected" src="./assets/images/facebook-logo.png" (click)="isFacebookSelected = false;"> -->
        <img class="gray-image" src="./assets/images/facebook-logo.png" (click)="isFacebookSelected = true;">
    </div>
</body>