<mat-toolbar class="mat-elevation-z5" style="background: white;">
    <a mat-button color="primary" routerLink="/" style="font-size: 40px;margin: auto; margin-left: 5%;">
        <mat-icon>
            bookmark
        </mat-icon>
        Markit
    </a>
    <button 
        style="margin: 10px; float: right;" 
        mat-button>
        Features
    </button>
    <button 
        style="margin: 10px; float: right; margin-right: 5%;" 
        mat-button>
        Pricing
    </button>
    <button 
        style="margin: 10px; float: right;font-size: 20px;" 
        mat-raised-button
        color="accent"
        routerLink="/login">
        Log in
    </button>
    <button 
        style="margin: 10px; float: right; margin-right: 10%; font-size: 20px;" 
        mat-raised-button
        color="primary"
        routerLink="/register">
        Sign up
    </button>
</mat-toolbar>