<mat-toolbar class="mat-elevation-z5 toolbar">
    <a mat-button routerLink="/" class="markit">
        <mat-icon style="font-size: 40px;padding-right: 10px; height: 47px;">
            bookmark
        </mat-icon>
        Markit
    </a>
    <button 
        style="font-size: 20px; margin: 10px; float: right; color: white;" 
        mat-button>
        Features
    </button>
    <button 
        style="font-size: 20px; margin: 10px; float: right; margin-right: 5%; color: white;" 
        mat-button>
        Pricing
    </button>
    <button 
        style="margin: 10px; float: right;font-size: 20px;" 
        mat-raised-button
        color="accent"
        routerLink="/login">
        Log in
    </button>
    <button 
        style="margin: 10px; float: right; margin-right: 10%; font-size: 20px;" 
        mat-raised-button
        color="primary"
        routerLink="/register">
        Sign up
    </button>
</mat-toolbar>