<div class="container-style mat-elevation-z5">
    <h1>Forgot your pasword?</h1>
    <p>we will send you an email to reset your password!</p>

    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Enter your email" autofocus>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="email.touched && email.value == ''">email is required!</mat-error>
            <mat-error *ngIf="email.touched  && email.value != '' && email.invalid">email is invalid!</mat-error>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" [disabled]="!form.valid">Send</button>
    
</div>