<div class="container-style mat-elevation-z4">
  <H1>
      New Post
  </H1>
  <form class="form-style" [formGroup]="form">
      <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input formControlName="title" matInput placeholder="Enter new calendar title" autofocus>
          <mat-icon matSuffix>edit</mat-icon>
          <mat-error *ngIf="title.touched && title.value == ''">title is required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Content</mat-label>
          <textarea style="height: 200px" formControlName="content" matInput placeholder="Enter new calendar title"></textarea>
          <mat-icon matSuffix>edit</mat-icon>
          <mat-error *ngIf="title.touched && title.value == ''">content is required!</mat-error>
      </mat-form-field>
          
      <button [disabled]="!form.valid" 
              mat-raised-button color="primary"
              *ngIf="!loading" type="submit"
              (click)="createPost()"
              [routerLink]="['/calendars',calendarId]">
          Send
          <mat-icon>send</mat-icon>
      </button>
      <mat-spinner *ngIf="loading" color="primary"></mat-spinner>
  </form>
</div>