.form-style{
    display: flex;
    flex-direction: column;
}

.form-style > * {
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
}

.container-style{
    min-height: 300px;
    min-width: 300px;
    max-width: 50%;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 40px;
}