<mat-toolbar class="mat-elevation-z5 toolbar">
    <a mat-button routerLink="/" class="markit">
        <mat-icon style="font-size: 40px;padding-right: 10px; height: 47px;">
            bookmark
        </mat-icon>
        Markit
    </a>
    <mat-icon style="margin-right :20px; color: rgb(182, 181, 181);">contact_support</mat-icon>
      <button 
      class="notifbutton" 
      nz-popover 
      nzPopoverTitle="Notifications"
      [(nzVisible)]="visible"
      nzPopoverPlacement="bottomRight"
      nzPopoverTrigger="click" 
      [nzPopoverContent]="contentTemplate"
      color="primary" 
      mat-mini-fab
      (click)="showNotifs()">
          <mat-icon>notifications</mat-icon>
      </button>
    <button
    color="primary"
    mat-mini-fab
    style="margin-right: 10%; margin-left: 20px;"
    [matMenuTriggerFor]="beforeMenu">
    <mat-icon>
      person_pin
    </mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/profile">
      Account Setting
    </button>
    <button
      mat-menu-item
      (click)="authService.logout()">Logout
    </button>
  </mat-menu>
</mat-toolbar>

<ng-template #contentTemplate>
  <app-notification-dialog></app-notification-dialog>
</ng-template>