<div>
  <mat-action-list dense>
      <h1 matHeader style="margin-left: 10px; color: rgb(16, 29, 87);">
          <mat-icon matPrefix>date_range</mat-icon>
          Calendars
      </h1>
      <div *ngFor="let calendar of calendars">
          <button class="calendar-listitems"
                  mat-list-item [routerLink]="['/calendars',calendar.id] ">
                   {{calendar.name}}
          </button>
      </div>
  </mat-action-list>
  <div style="justify-content: flex-end;
  display: flex; margin: 5px;">
      
  </div>
</div>
