<div *ngIf="!authService.isLoggedIn()">
    <img src="../../assets/images/Platforms.png" alt="">
    <h1 >
        Welcome to
        <mat-icon style="font-size: 40px; margin: 10px; margin-left: 0px;">bookmark</mat-icon>
        <span style="font-size: 40px;">
            Markit
        </span>
    </h1>
    <p style="font-size: 25px; width: 80%;">
        When competition for attention is fierce and every customer is an influencer, growing an inspiring brand is a key success factor for your organization.
    </p>
</div>
<app-dashboard *ngIf="authService.isLoggedIn()"></app-dashboard>
