@import "../../theme.scss";

div{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90%;
}
div > *{
    margin: 60px auto;
}

h1 {
    color: $app-normal-primary;
}
img {
    mix-blend-mode: multiply;
}