<div style="padding: 5px" class="container-style mat-elevation-z4">
    <form class="form-style" [formGroup]="signupForm">

        <H1 style="margin-bottom: 5px">SignUp</H1>

        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="Enter your first name" autofocus>
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="f.firstName.touched && f.firstName.value == ''">Name is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Enter your last name">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="f.lastName.touched && f.lastName.value == ''">Last name is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Enter your email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="f.email.touched && f.email.value == ''">Email is required!</mat-error>
            <mat-error *ngIf="f.email.touched  && f.email.value != '' && f.email.invalid">Email is invalid!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f.password.touched && f.password.value == ''">Password is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input formControlName="confirmPassword" matInput placeholder="Confirm your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f.confirmPassword.touched && f.confirmPassword.value == ''">Password is required!</mat-error>
            <mat-error *ngIf="f.confirmPassword.touched && f.confirmPassword.value != '' && f.confirmPassword.invalid ">Doesn't match with password</mat-error>
        </mat-form-field>

      <button *ngIf="!reqLoading" [disabled]="!signupForm.valid" mat-raised-button color="primary" (click)="onSubmit()">SignUp</button>
      <mat-spinner *ngIf="reqLoading" color="primary"></mat-spinner>

    </form>
</div>
