<div class="calendar-list mat-elevation-z5">
  <mat-action-list dense>
      <h3 matHeader style="margin-left: 10px">
          <mat-icon matPrefix>date_range</mat-icon>
          Calendars
      </h3>
      <div *ngFor="let calendar of calendars">
          <button class="calendar-listitems"
                  mat-list-item [routerLink]="['/calendars',calendar.id] ">
                   {{calendar.name}}
          </button>
      </div>
  </mat-action-list>
  <div style="justify-content: flex-end;
  display: flex; margin: 5px;">
      <button mat-mini-fab color="primary"
              routerLink="/calendars/create">
          <mat-icon>add</mat-icon>
      </button>
  </div>
</div>
