<div class="container-style">
    <form class="form-style" [formGroup]="form">
        <input style="display: none" type="file" #fileInput>
        <button mat-fab color="accent" style="height: 100px; width: 100px;" (click)="fileInput.click()">
            <span>Logo Image</span>
        </button>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="Enter new calendar title" autofocus>
            <mat-icon matSuffix>edit</mat-icon>
            <mat-error *ngIf="title.touched && title.value == ''">title is required!</mat-error>
        </mat-form-field>
        <button *ngIf="!loading" type="submit"
            (click)="createCalendar()"
            routerLink="/calendars"
            [disabled]="!form.valid"
            mat-raised-button color="primary">
                Create Calendar
        </button>
    </form>
</div>

<mat-toolbar style="margin-top: 30%;">
    <button [disabled]="!form.valid" *ngIf="isCreated && !loading" (click)="editCalendar()" style="margin:auto" matStepperNext
        mat-raised-button color="primary"><!-- todo -->
        Next
    </button>
    <button [disabled]="!form.valid" *ngIf="!isCreated && !loading" (click)="createCalendar()"  style="margin:auto" matStepperNext
        mat-raised-button color="primary"><!-- todo -->
        Create New Calendar
    </button>
    <mat-spinner *ngIf="loading" color="primary"></mat-spinner>
</mat-toolbar>
