<body style="background: #fdfdfd">
    <div  class="mat-elevation-z5">
        <nav style="height: 60px; background: #feffff; width: 70%; margin: auto">
            <label style="font-size: 40px; color: #354b45; margin: auto;">
                <mat-icon>
                    bookmark
                </mat-icon>
                Markit
            </label>
            <button mat-mini-fab style="background: #47bb98; margin: 10px; float: right;">
                <mat-icon>
                    person_pin
                </mat-icon>
            </button>
            <button style="margin: 10px; float: right;" mat-button>Logout</button>
        </nav>
    </div>
    <app-calendars></app-calendars>
</body>