@import "../../theme";

.calendar-list{
    display: flex;
    flex-direction: column;
    margin: 3%;
    margin-left: 15%;
    height: 400px; 
    width: 32%;
    background: white;
    padding: 10px;
}
.post-ideas-style{
    margin: 0 3%;
    margin-left: 15%;
    height: 400px;
    width: 32%;
    background:white;
    padding: 10px;
    overflow: auto;
}
.top-row{
    display: flex;
}

.post-status{
    margin: 3%;
    height: 400px; 
    width: 32%;
    background: white;
    padding: 10px;
}

.quick-link{
    margin: 0 3%;
    height: 400px; 
    width: 32%;
    background:white;
    padding: 10px;
}

body{
    display: flexbox;
    flex-direction: column;
    background: #53798b0a;
}

h1 {
    margin-left: 20px;
    margin-right: 20px;
    color: $app-dark-primary;
    border-bottom: 2px $app-light-primary double;
}

div{
    position: relative;
}

div button{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

h1 i{
    vertical-align: 5px;
}