<div style="padding: 5px" class="container-style mat-elevation-z4">
    <H1>Login</H1>
    <form class="form-style" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Enter your email" autofocus>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="f.email.touched && f.email.value == ''">email is required!</mat-error>
            <mat-error *ngIf="f.email.touched  && f.email.value != '' && f.email.invalid">email is invalid!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f.password.touched && f.password.value == ''">password is required!</mat-error>
        </mat-form-field>
        <button *ngIf="!loading" [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit" (click)="onSubmit()">Login</button>
        <mat-spinner *ngIf="loading" color="primary" style="height: 60px;"></mat-spinner>
        <a routerLink="/forget-password" >Forgot password?</a>
    </form>
</div>
