<app-authorized-header *ngIf="authService.isLoggedIn()"></app-authorized-header>
<app-unauthorized-header *ngIf="!authService.isLoggedIn()"></app-unauthorized-header>

<!--<app-dashboard *ngIf="authService.isLoggedIn()"></app-dashboard>-->
<!--<app-homepage *ngIf="!authService.isLoggedIn()"></app-homepage>-->

<router-outlet></router-outlet>
<!-- <app-post-details-form></app-post-details-form> -->
<!-- <app-social-channels-selection></app-social-channels-selection> -->
<!-- <app-base-post-content></app-base-post-content> -->
<!-- <app-post-wizard></app-post-wizard> -->
<app-manual-test></app-manual-test>
<!--<app-post-list-view></app-post-list-view>-->
