<div class="preview-container" *ngIf="!loading">
    <div style="margin: auto; text-align: center;">
        <h3>Twitter Desktop Preview</h3>
        <span>
            {{post.publishDateTime | date:'fullDate'}}
            <span style="margin-left: 20px">
                {{post.publishDateTime | date:'shortTime'}}
            </span>
        </span>
    </div>
    <div class="post-preview twitter mat-elevation-z4">
        <nz-avatar style="position: absolute; left: 20px; top: 22px;"
            [nzShape]="'square'"
            [nzSize]="50"
            [nzIcon]="'user'"
            nzSrc="../../assets/images/user-logo.png">
        </nz-avatar>
        <div class="details">
            <ul>
                <li>
                    <span class="name">Author</span>
                    <span class="username"> @<span>Author</span></span>
                    • 1h
                </li>
                <li>
                    <span class="copy">
                        <span>
                            <p>
                                {{post.text}}
                            </p>
                        </span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="image-container">
            <img [src]="post.image">
        </div>
        <div class="actions">
            <div class="row">
                <div class="col-xs-3">
                    <img src="//cdn.loomly.com/assets/twitter-reply-f6bc3a925f53251562d271bb7cb8db48d7c766df86b57cdf342a94632aa14f2b.png">
                </div>
                <div class="col-xs-3">
                    <img src="//cdn.loomly.com/assets/twitter-heart-8f84350df6b6c59eb72eefcb3a1adaccfb131a3278b0f4d6e7f20de3ff7f2ec9.png">
                </div><div class="col-xs-3">
                    <img src="//cdn.loomly.com/assets/twitter-retweet-44996d1e13df922d059654f7b407d4f45266d70e0e51ad5a179a83e0961badad.png">
                </div>
            </div>
        </div>
    </div>
</div>
<mat-spinner *ngIf="loading" style="margin: auto" color="primary"></mat-spinner>
<div class="comments mat-elevation-z4">
    <h5 style="color: gray; margin-left: 30px; margin-top: 30px;">Comments:</h5>
    <app-comment></app-comment>
</div>
