@import "../../theme.scss";

.container{
    width: 400px;
    max-height: 500px;
    overflow-y: scroll;
}

.card{
    width: 100%;
    height: 170px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    background: #afb9bd1f;
}

li {
    list-style-type: none;
}
ul{
    padding: 0;
}

.reject{
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.accept{
    position: absolute;
    left: 30px;
    bottom: 10px;
}
.massage{
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

span{
    font-size: 18px;
}

.close{
    position: absolute;
    top:5px;
    right: 5px;
    width: 25px;
}