<div class="container">
  <ul>
    <li *ngFor="let notif of data">
      <div class="card mat-elevation-z2">
        <h3 matLine> New invitation! </h3>
        <mat-divider></mat-divider>
        <div class="massage">
          <span matLine> You've been invited to calendar {{notif.calendar}}! </span>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div matLine>
          <button 
            class="accept"
            mat-raised-button 
            color="primary" 
            (click)="onAccept(notif.token)">
              <i style="vertical-align: 3px;" nz-icon nzType="like" nzTheme="outline"></i>
              Accept
          </button>
          <button 
            class="reject"
            mat-raised-button 
            color="accent" 
            (click)="onReject(notif.token)">
              <i nz-icon nzType="dislike" nzTheme="outline"></i>
              Reject
          </button>
          <button mat-button class="close">
            <i nz-icon nzType="close" nzTheme="outline"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>