<mat-toolbar class="mat-elevation-z5" style="background: white;">
    <a mat-button routerLink="/" style="font-size: 40px; color: #354b45;margin: auto; margin-left: 5%;">
        <mat-icon>
            bookmark
        </mat-icon>
        Markit
    </a>
    <button mat-mini-fab style="background: #47bb98; margin: 10px; float: right;">
        <mat-icon>
            person_pin
        </mat-icon>
    </button>
    <button 
        style="margin: 10px; float: right;" 
        mat-button 
        *ngIf="authService.isLoggedIn()" 
        (click)="authService.logout()">
        Logout
    </button>
    <button 
        style="margin: 10px; float: right;" 
        mat-button 
        *ngIf="!authService.isLoggedIn()"
        routerLink="/login">
        Login
    </button>
    <button 
        style="margin: 10px; float: right;" 
        mat-button 
        *ngIf="!authService.isLoggedIn()"
        routerLink="/register">
        Sign Up
    </button>
</mat-toolbar>

<!-- <div  class="mat-elevation-z5">
    <nav style="height: 60px; background: #feffff; width: 70%; margin: auto">
        <label style="font-size: 40px; color: #354b45; margin: auto;">
            <mat-icon>
                bookmark
            </mat-icon>
            Markit
        </label>
        <button mat-mini-fab style="background: #47bb98; margin: 10px; float: right;">
            <mat-icon>
                person_pin
            </mat-icon>
        </button>
        <button 
            style="margin: 10px; float: right;" 
            mat-button 
            *ngIf="authService.isLoggedIn()" 
            (click)="authService.logout()">
            Logout
        </button>
        <button 
            style="margin: 10px; float: right;" 
            mat-button 
            *ngIf="!authService.isLoggedIn()"
            routerLink="/login">
            Login
        </button>
        <button 
            style="margin: 10px; float: right;" 
            mat-button 
            *ngIf="!authService.isLoggedIn()"
            routerLink="/register">
            Sign Up
        </button>

    </nav>
</div>
 -->
