<div style="display: flex; flex-direction: column;">
    <div style="display: flex;">
        <div class="mat-elevation-z5" style="margin: 5%; height: 500px; width: 100%; overflow: scroll; background: rgba(216, 216, 216, 0.445);">
            <app-post-ideas></app-post-ideas>
        </div>
        <div style="margin: 5%; height: 90%; width: 100%;">
            <form class="form-style" [formGroup]="form">
                <mat-form-field appearance="outline">
                    <mat-label>Subject</mat-label>
                    <input formControlName="subject" matInput placeholder="Subject" autofocus>
                </mat-form-field>
                <!-- <mat-form-field disabled appearance="outline">
                    <mat-label>Scheduled date and time</mat-label>
                </mat-form-field> -->
                <timepicker [formControlName]="'time'" [min]="minTime"  mousewheel="true"></timepicker>
            </form>
        </div>
    </div>
    <button style="margin: auto" color="primary" mat-raised-button matStepperNext>Next</button>
</div>
