<div *ngIf="isTwitterConnected">
  <mat-toolbar style="margin-top: 5%; margin-left: 10%; width: 80%; display: flex;" >
      <mat-form-field appearance="outline" style="height: 63px; font-size: 15px; margin-left: 5%;">
          <mat-label>Selected Calendar</mat-label>
          <mat-select [(value)]="selectedCalendar.id">
            <mat-option *ngFor="let calendar of calendars" [value]="calendar.id">
              {{calendar.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    <a mat-raised-button color="accent" style="margin-left: auto; margin-right: 5%;" [routerLink]="['/calendars', calendarId, '/create']">
      New Post
    </a>
    <button mat-button disabled><mat-icon>library_books</mat-icon></button>
    <button mat-button><mat-icon>settings</mat-icon></button>
  </mat-toolbar>

  <table mat-table
        [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="column != 'connected-platforms'">
          {{element[column]}}
        </div>
        <div *ngIf="column == 'connected-platforms'">
            <img style="height: 40px;" src="../../assets/images/twitter-logo.png">
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="button-row">
                <button mat-button [disabled]="element.status != 'draft'" (click)="publishOnTweeter(element)">Publish</button>
                <button mat-button [disabled]="element.status != 'draft'"><mat-icon >edit</mat-icon></button>
                <button mat-button color="warn"><mat-icon>delete</mat-icon></button>
            </div>
            <p>
              {{element.text}}
            </p>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>

<div *ngIf="!isTwitterConnected" style="margin: 20%; text-align: center;">
  <h2 >You are not connected to any twitter account!</h2>
  <a mat-button color ="primary" style="font-size: 20px;" (click)="onTwitterAuth()">
      <mat-icon color ="primary">arrow_forward</mat-icon>
      Connect to your twitter account!
      <mat-icon color ="primary">arrow_back</mat-icon>
  </a>
</div>
