@import "../../theme.scss";

table {
    width: 80%;
    margin: 10%;
    margin-top: 1%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .button-row > *{
    float: right;
  }

  .toolbar {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    display: flex;
    background: $app-light-primary;
    border-radius: 5px;
  }

  .select{
    height: 63px;
    font-size: 15px;
    margin-left: 5%;
  }
  
  h1{
    color: $app-dark-primary;
    padding: 0px 20px;
  }

  .post-image{
    max-width: 30%;
    max-height: 200px;
    padding: 10px;
    border: 1px dashed rgba(128, 128, 128, 0.411);
    border-radius: 5px;
    margin: 10px;
  }

  .collaborator{
    height: 50px;
    border: solid 3px $app-normal-primary;
    border-radius: 50%;
    margin: 3px;
    padding: 5px;
  }