<div class="container">
    <div class="draft">
        <i nz-icon nzType="bulb" nzTheme="outline"></i>
        <span>Draft:</span>
        <span class="number">{{data.Draft}}</span>
    </div>
    <div class="published">
        <i nz-icon nzType="bulb" nzTheme="outline"></i>
        <span>Published:</span>
        <span class="number">{{data.Published}}</span>
    </div>
    <div class="scheduled">
        <i nz-icon nzType="bulb" nzTheme="outline"></i>
        <span>Scheduled:</span>
        <span class="number">{{data.Scheduled}}</span>
    </div>
</div>