<div class="container">
    <div class="about-us">
        <button mat-button color="primary">
            <span>About Us!</span>
        </button>
    </div>
    <div class="follow-us">
        <span>Follow us on:</span>
        <button mat-button color="primary">
            <i nz-icon nzType="twitter" nzTheme="outline"></i>
            Twitter
        </button>
        <button mat-button color="primary">
            <i nz-icon nzType="facebook" nzTheme="outline"></i>
            Facebook
        </button>
        <button mat-button color="primary">
            <i nz-icon nzType="instagram" nzTheme="outline"></i>
            Instagram
        </button>
    </div>
</div>